<!DOCTYPE html>
<html lang="en">

<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>ACR</title>
</head>

<body>
    <page size="A4" class="page1">
        <p class="font-12 mt-20 weight-600 light-color">To be filled by the Insured. Please fill in <u>CAPITAL</u> only.
        </p>
        <div class="font-12 mt-10 te-fbackend/views/templates/htmlTemplate.ejslex w-100per">
            <p class="font-12 ml-auto">Claim No.: </p>
            <div class="w-100 border-bottom-1"></div>
        </div>
        <div class="policy_div mt-10">
            <h4 class="bg-yellow p-5">Policy Details</h4>
            <div class="te-flex policy flex-col mw-100">
                <label for="" class="label">Policy No.</label>
                <span class="colon">:</span>
                <div class="table_div mw-100">
                    <table>
                        <tr>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="date_inception te-flex mw-100 flex-col">
                <label for="" class="label">Date of Inception</label>
                <span class="colon">:</span>
                <div class="table_div te-flex te-center font-12 mw-60 smw-100">
                    <table>
                        <tr>
                            <td class="data"></td>
                            <td class="data"></td>
                        </tr>
                    </table>
                    <span class="mx-5">/</span>
                    <table>
                        <tr>
                            <td class="data"></td>
                            <td class="data"></td>
                        </tr>
                    </table>
                    <span class="mx-5">/</span>
                    <table>
                        <tr>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                        </tr>
                    </table>
                    <span class="light-color font-10 ml-10">(DD/MM/YYYY) </span>
                </div>
            </div>
            <div class="company_name te-flex">
                <label for="" class="label">Group/Company Name</label>
                <span class="colon">:</span>
                <div class="table_div overflow mmt-5">
                    <table>
                        <tr>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="person_details mt-10">
            <h4 class="bg-yellow p-5"> Details of the Insured Person in respect of whom claim is made</h4>
            <div class="name te-flex">
                <label for="" class="label">Name of Insured Member </label>
                <span class="colon">:</span>
                <div class="table_div overflow mmt-5">
                    <table>
                        <tr>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="name te-flex">
                <label for="" class="label">Name of the Insured </label>
                <span class="colon">:</span>
                <div class="table_div">
                    <table>
                        <tr>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="date_of_birth te-flex mw-100 flex-col">
                <label for="">Date of Birth of Insured </label>
                <span class="colon">:</span>
                <div class="table_div te-flex te-center font-12 mw-60 smw-100">
                    <table>
                        <tr>
                            <td class="data"></td>
                            <td class="data"></td>
                        </tr>
                    </table>
                    <span class="mx-5">/</span>
                    <table>
                        <tr>
                            <td class="data"></td>
                            <td class="data"></td>
                        </tr>
                    </table>
                    <span class="mx-5">/</span>
                    <table>
                        <tr>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                        </tr>
                    </table>
                    <span class="light-color ml-10 font-12">(DD/MM/YYYY) </span>
                </div>
            </div>
            <div class="relation te-flex">
                <label for="" class="label">Relationship with the Insured Member</label>
                <span class="colon">:</span>
                <div class="table_div">
                    <table>
                        <tr>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>
                            <td class="data"></td>


                        </tr>
                    </table>
                </div>
            </div>
            <div class="gender te-flex flex-col mw-100">
                <label for="" class="label">Gender of Insured</label>
                <span class="colon">:</span>
                <form class="table_div te-flex font-12 te-center">
                    <label class="mx-5 inline">M</label>
                    <input type="checkbox" name="gender" id="">
                    <label class="mx-5 inline">F</label>
                    <input type="checkbox" name="gender id="">
                </form>
            </div>
            <label for="" class=" label add adddup mmt-5">Address</label>
                    <div class="address te-flex flex-col overflow">
                        <label for="" class="label add addorg">Address</label>
                        <span class="colon">:</span>
                        <div class="table_div overflow">
                            <table>
                                <tr>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                </tr>
                            </table>
                            <table class="mt-5">
                                <tr>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                </tr>
                            </table>
                            <div class="te-flex sm-flex-col">
                                <table class="mt-5 te-max-w-20 te-max-w-270">
                                    <tr>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                    </tr>
                                </table>
                                <div class="city flex-start te-sm-wrap">
                                    <label for="" class="label sm-ml-0 te-sm-block te-sm-w-100">City <span class="colon">:</span></label>
                                    <table class="mt-5 sm-ml-0">
                                        <tr>
                                            <td class="data"></td>
                                            <td class="data"></td>
                                            <td class="data"></td>
                                            <td class="data"></td>
                                            <td class="data"></td>
                                            <td class="data"></td>
                                            <td class="data"></td>
                                            <td class="data"></td>
                                            <td class="data"></td>
                                            <td class="data"></td>
                                            <td class="data"></td>
                                            <td class="data"></td>
                                            <td class="data"></td>
                                            <td class="data"></td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="state te-flex overflow">
                        <label for="" class="label add te-pt-md-5">State</label>
                        <span class="colon">:</span>
                        <div class="table_div te-flex">

                            <table>
                                <tr>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                </tr>
                            </table>
                            <div class="pin sm-ml-0 sm-mt-5">
                                <label for="" class="label">Pin Code <span class="colon">:</span> </label>
                                <table>
                                    <tr>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                        <td class="data"></td>

                                    </tr>
                                </table>
                            </div>


                        </div>
                    </div>
                    <div class="state te-flex te-sm-wrap overflow">
                        <label for="" class="label add te-pt-md-5">Landline</label>
                        <span class="colon">:</span>
                        <div class="table_div te-flex w-600">

                            <table>
                                <tr>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data1">-</td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>

                                </tr>
                            </table>
                            <div class="pin te-sm-w-100 te-sm-wrap sm-mt-5">
                                <label for="" class="label te-sm-w-100">Mobile <span class="colon">:</span> </label>
                                <table class="sm-mt-5 sm-ml-0">
                                    <tr>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                        <td class="data"></td>

                                    </tr>
                                </table>
                            </div>


                        </div>
                    </div>

                    <div class="email te-flex">
                        <label for="" class="label te-pt-md-5">Email</label>
                        <span class="colon">:</span>
                        <div class="table_div">
                            <table>
                                <tr>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
            </div>
            <div class="bank_details mt-10">
                <h4 class="bg-yellow p-5">Primary Insured’s Bank Details</h4>
                <div class="bank te-flex">
                    <label for="" class="label">Bank</label>
                    <span class="colon">:</span>
                    <div class="table_div w-md-100">
                        <table>
                            <tr>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                            </tr>
                        </table>
                    </div>

                </div>
                <div class="bank te-flex">
                    <label for="" class="label">Account Number </label>
                    <span class="colon">:</span>
                    <div class="table_div">
                        <table>
                            <tr>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                            </tr>
                        </table>
                    </div>

                </div>
                <div class="bank te-flex w-100 flex-col">
                    <label for="" class="label">Branch </label>
                    <span class="colon">:</span>
                    <div class="table_div w-md-100">
                        <table>
                            <tr>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                            </tr>
                        </table>
                    </div>

                </div>
                <div class="bank te-flex">
                    <label for="" class="label">PAN</label>
                    <span class="colon">:</span>
                    <div class="table_div w-md-100">
                        <table>
                            <tr>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                            </tr>
                        </table>
                    </div>

                </div>
                <div class="bank te-flex">
                    <label for="" class="label">Cheque/DD No.</label>
                    <span class="colon">:</span>
                    <div class="table_div">
                        <table>
                            <tr>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                            </tr>
                        </table>
                    </div>

                </div>
                <div class="bank te-flex">
                    <label for="" class="label">IFSC/Swift Code</label>
                    <span class="colon">:</span>
                    <div class="table_div">
                        <table>
                            <tr>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
            <div class="hospital_details mt-10">
                <h4 class="bg-yellow p-5"> Details of Hospital/Nursing Home in which treatment was taken (if any)</h4>
                <div class="hospital te-flex">
                    <label for="" class="label">Name of the Hospital</label>
                    <span class="colon">:</span>
                    <div class="table_div">
                        <table>
                            <tr>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <label for="" class="label add adddup mmt-5">Address</label>
                <div class="address te-flex flex-col overflow">
                    <label for="" class="label add addorg">Address</label>
                    <span class="colon">:</span>
                    <div class="table_div overflow">
                        <table>
                            <tr>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                            </tr>
                        </table>
                        <table class="mt-5">
                            <tr>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                            </tr>
                        </table>
                        <div class="te-flex flex-col flex-start">
                            <table class="mt-5 te-max-w-20 te-max-w-270">
                                <tr>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                </tr>
                            </table>
                            <div class="city sm-ml-0 te-sm-wrap flex-start sm-mt-5">
                                <label for="" class="label te-sm-w-100  sm-ml-0">City <span class="colon">:</span></label>
                                <table class="mt-5 sm-ml-0">
                                    <tr>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="state te-flex overflow">
                    <label for="" class="label add te-pt-md-5">State</label>
                    <span class="colon">:</span>
                    <div class="table_div te-flex te-sm-wrap flex-start">

                        <table>
                            <tr>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                            </tr>
                        </table>
                        <div class="pin sm-ml-0 sm-mt-5">
                            <label for="" class="label ">Pin Code <span class="colon">:</span> </label>
                            <table>
                                <tr>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>

                                </tr>
                            </table>
                        </div>


                    </div>
                </div>
                <div class="state te-flex overflow">
                    <label for="" class="label add te-pt-md-5">Landline</label>
                    <span class="colon">:</span>
                    <div class="table_div te-flex w-600 te-sm-wrap ">

                        <table>
                            <tr>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data1">-</td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>

                            </tr>
                        </table>
                        <div class="pin te-sm-w-100 sm-ml-0 te-sm-wrap flex-start sm-mt-5">
                            <label for="" class="label sm-ml-0 te-sm-w-100">Mobile <span class="colon">:</span> </label>
                            <table class="sm-ml-0">
                                <tr>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>

                                </tr>
                            </table>
                        </div>


                    </div>
                </div>

                <div class="email te-flex">
                    <label for="" class="label te-pt-md-5">Email</label>
                    <span class="colon">:</span>
                    <div class="table_div">
                        <table>
                            <tr>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                                <td class="data"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="date te-flex flex-col flex-0 overflow">
                    <label for="" class="label date_label">Date of Admission</label>
                    <span class="colon">:</span>
                    <div class="table_div te-flex ml-0">
                        <div class=" date_tables flex-start te-flex te-space-between overflow">
                            <table>
                                <tr>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                </tr>
                            </table>
                            <span>/</span>
                            <table>
                                <tr>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                </tr>
                            </table>
                            <span>/</span>
                            <table>
                                <tr>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                </tr>
                            </table>
                            <span class="font-10 light-color">(DD/MM/YYYY) </span>
                        </div>

                        <div class="time te-flex te-space-between te-center xsm-flex-col xsm-baseline  ml-0">
                            <label for="" class="label time_label ml-0 xsm-baseline mmt-5">Time of Admission </label>
                            <span class="ml-10 colon">:</span>
                            <div class="table_div flex-start te-flex te-center ml-0">
                                <table class="collapse">
                                    <tr>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                    </tr>
                                </table>
                                <span class="ml-10">:</span>
                                <table class="collapse">
                                    <tr>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                    </tr>
                                </table>
                                <span class="light-color font-10 ml-10">(HH:MM)</span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="date te-flex flex-col flex-0 overflow">
                    <label for="" class="label date_label">Date of Discharge</label>
                    <span class="colon">:</span>
                    <div class="table_div te-flex ml-0">
                        <div class=" date_tables te-flex flex-start te-space-between overflow">
                            <table>
                                <tr>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                </tr>
                            </table>
                            <span>/</span>
                            <table>
                                <tr>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                </tr>
                            </table>
                            <span>/</span>
                            <table>
                                <tr>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                    <td class="data"></td>
                                </tr>
                            </table>
                            <span class="font-10 light-color">(DD/MM/YYYY) </span>
                        </div>

                        <div class="time te-flex te-space-between te-center xsm-flex-col xsm-baseline  ml-0">
                            <label for="" class="label time_label ml-0 xsm-baseline mmt-5">Time of Discharge </label>
                            <span class="ml-10 colon">:</span>
                            <div class="table_div te-flex flex-start te-center ml-0">
                                <table class="collapse">
                                    <tr>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                    </tr>
                                </table>
                                <span class="ml-10">:</span>
                                <table class="collapse">
                                    <tr>
                                        <td class="data"></td>
                                        <td class="data"></td>
                                    </tr>
                                </table>
                                <span class="light-color font-10 ml-10">(HH:MM)</span>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <hr class="mt-10">
            <footer class="page_footer mt-10">
                <p class="font-9"><strong>Care Health Insurance Limited</strong> (Formerly known as Religare Health
                    Insurance Company Limited)</p>
                <p class="font-9">Registered Office: 5th Floor, 19 Chawla House,Nehru Place,New Delhi-110019 Corresp.
                    Office: Unit No. 604 - 607, 6th Floor, Tower C, Unitech Cyber Park, Sector-39, Gurugram -122001
                    (Haryana)
                </p>
                <p class="font-9">Website: www.careinsurance.com E-mail: customerfirst@careinsurance.com Call us:
                    1800-102-4488 | 1800-102-6655
                </p>
            </footer>
    </page>
     
</body>

</html>